body {
    margin: 0;
    font-size: 14px;
    font-family: "Comic Sans MS";
    background-color: white;
    -webkit-font-smoothing: antialiased;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6{
    margin: 0;
}

p{
    margin: 0 0 10px 0;
}
/*container*/
.container {

    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
/*header*/
.header{
    width: 100%;
    height: 110px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;


}

.header__inner{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 2px solid #207b85;
    align-items: center;
}

/*nav*/
.nav{
    display: flex;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;


}

.nav__link{
    margin-left: 50px;
    color: #207b85;
    text-decoration: none;
    opacity: .75;
    transition: opacity .1s linear;


}


.nav__link:first-child{

    margin-left: 0;

}

.nav__link:hover{
    opacity: 1;

}

/*intro*/
.intro{

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    background: #eefffe;
    padding-top: 50px;



}

.intro__inner{
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
    text-align: center;

}

.intro__title{
    margin: 50px 0 0;
    font-family: "Comic Sans MS";
    font-size: 45px;
    line-height: 1.1;
    color: #207b85;
    font-weight: 700;
    text-transform: uppercase;


}

.intro nav{
    margin-top: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.intro__inner h4{
    color: #207b85;
    font-size: 25px;
    margin-top: 20px;


}

.intro__nav{

    margin-right: 40px;
    color: #207b85;
    text-decoration: none;
    opacity: .75;
    transition: opacity .1s linear;

    font-size: 20px;


}

.intro__nav:hover{
    border-bottom: 2px solid #207b85;
    border-top: 2px solid #207b85;
    border-right: 2px solid #207b85;
    border-left: 2px solid #207b85;
    opacity: 1;
}



/*features*/
.features{
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.features__item{
    position: relative;
    display: block;
    width: 350px;
    margin: 25px 20px;

    align-items: center;
    text-decoration: none;
}

.features__icon{
    display: block;
    width: 100%;


}

.features__item p{


    text-align: center;
    font-size: 30px;
    color: #207b85;
    font-weight: 700;
    text-transform: uppercase;
    opacity: .75;
    transition: opacity .1s linear;



}

.features__item p:hover{
    opacity: 1;
}


/*product*/

.wrapper h3 {
    font-size: 40px;
    font-family: "Comic Sans MS";
    color: #207b85;
    text-align: center;
}

.product{
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}

.product__item{
    position: relative;
    display: block;
    width: 350px;
    margin: 10px 10px;
    border-bottom: 1px solid #7ca3a8;
    border-top: 1px solid #7ca3a8;
    border-left: 1px solid #7ca3a8;
    border-right: 1px solid #7ca3a8;
    align-items: center;
    padding: 15px 0;
    transition: .3s ease-in;
    background: white;

}
.product__item:hover {
    border-bottom: 2px solid #207b85;
    border-top: 2px solid #207b85;
    border-right: 2px solid #207b85;
    border-left: 2px solid #207b85;
    opacity: 1;
}
.product__item img {
    display: block;
    width: 100%;
}

.product__title{
    margin: 0 0 10px 0;
    font-family: "Comic Sans MS";
    color: #207b85;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.product__subtitle{
    font-size: 10px;
    text-transform: uppercase;
}
.product__price{
    font-family: "Comic Sans MS";
    font-size: 15px;
    color: #207b85;
    display: block;
    margin-bottom: 12px;
}
.button {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    background: #cccccc;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: .3s ease-in;

}

.product__item:hover .button {
    background: #207b85;
}


/*burger*/

.burger{
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
    margin-right: 10px;
    padding: 15px 0;
}

.burger__item{

    display: block;
    width: 30px;
    height: 3px;

    background-color: #207b85;

    font-size: 0;
    color: transparent;

    position: relative;
}

.burger__item:before,
.burger__item:after{
    content: "";
    width: 100%;
    height: 100%;

    background-color: #207b85;
    position: absolute;
    left: 0;
    z-index: 1;
}

.burger__item:before{
    top: -8px;
}
.burger__item:after{
    bottom: -8px;

}


/*footer*/

.footer{

    background-color: #4d3012;
}

.footer__inner{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

.footer__block{
    width: 50%;
    padding: 0 15px;
    text-align: center;
}

.footer__title{
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;


}

.footer__address{
    color: white;
    font-style: normal;
    font-size: 14px;

}

.footer__contact{
    color: white;
    font-style: normal;
    font-size: 13px;

}

.copyright{
    display: flex;
    padding: 10px 0;
    background-color: #3d270e;
}

.copyright__text{
    text-align: center;
    font-size: 13px;
    color: white;
    line-height: 1.5;
}

/*media*/


@media  (max-width: 853px) {

    .nav{
        display: none;
    }

    .burger{
        display: block;
    }

    .intro__inner nav{
        font-size: 15px;
    }
}