
.good{
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 40px;
    width: 1120px;
    margin: 0 auto;
    position: relative;

}

.good__item{
    text-align: justify;
    display: flex;
    align-items: center;
    border-bottom:3px solid rgba(0,0,0,0.3) ;
    margin-bottom: 20px;
}

.good__photo{
    display: inline-block;
    width: 350px;
    vertical-align: top;
    margin-top: 20px;
    margin-bottom: 20px;

}


.good__body{
    margin-top: 50px;
    margin-bottom: 20px;



}

.good__price{

    font-size: 26px;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.button {
    float: right;
    display: inline-block;
    vertical-align: middle;
    transition: all .2s linear;
    color: #fff;
    border: 1px solid #207b85;
    border-radius: 3px;
    background: #207b85;
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
    z-index: 20;
    box-sizing: border-box;
    height: 32px;
    padding: 0 13px;
    text-align: center;
    text-decoration: none;


}

.good__content{

    color: #222;
}
.good__content table{
    width: 100%;
    border-spacing: 0;
    margin: 15px 0;
    border-collapse: separate;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px #f2f2f2;
}

thead, tr, tbody{
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
}
tr{
    display: table-row;
}

.good__content th{
    width: 200px;
}

.good__content tr:first-child{
    padding-left: 0;
}
.good__content tr:last-child{
    padding-right: 0;
}

.good__content table tr th {
    font-size: 11px;
    font-weight: 500;
    padding: 10px 15px;
    text-align: left;
    text-transform: uppercase;
    color: #222;
    background-color: #f2f2f2;
}

.good__content table tr td{
    font-size: 12px;
    padding: 12px 15px;
    color: #222;
    border-bottom: 1px solid #f2f2f2;
}

.good__content td{
    vertical-align: middle;
}
td, th{
    display: table-cell;
}

